<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>G2 Design Backend</title>
		<base href="{{ constant('BASE_URL') }}">
		<script
			src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>

		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
		<link href="bower_components/materialize-clockpicker/dist/css/materialize.clockpicker.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="admin_backend/css/main.css">
		<!-- Compiled and minified JavaScript -->
	</head>
	<body>


		{% block content %}

		{% endblock %}


		<script src="bower_components/materialize-clockpicker/dist/js/materialize.clockpicker.js" type="text/javascript"></script>
		<script src="admin_backend/admin.js" type="text/javascript"></script>
	</body>
</html>
