route = "admin"
login_url = "admin/login"

==
$page->before('\\Admin\\Filter\\Admin::login_redirect');

==
{% extends "layouts/dashboard.twig" %}

{% import "macros/forms.twig" as form %}
{% block dashboard_content %}


	<div class="row">
		<div class="col s12">
			{{ backend_content() }}
		</div>
	</div>
</div>




{% endblock %}