title = "Page Title"
route = "/"
layout = "layouts/test.twig"

==
header('Location: admin');
exit;
==
{% set layout = this.config().layout %}
{% extends [layout, "layouts/base.twig"] %}

{% block content %}
	
	<h1>Hello {{ arguments[0] }} {{ test }}</h1>
{% endblock %}

