route = "admin/login"

==
{% extends "layouts/admin.twig" %}

{% import "macros/forms.twig" as form %}
{% block content %}
	<div class="login">
		<div class="container">
			<div class="col s12">
				<div class="valign-wrapper full-h full-w">
					<div class="valign center full-w">
						<div class="row row-eq-height">
							<div class="col s12 m6 l4 offset-l2 left-block">
								<img src="images/main-navbar-logo.png">
								<h1>G2Admin</h1>
								<p>Simple. Flexible. Powerful.</p>
							</div>
							<div class="col s12 m6 l4 right-block">
								{{ loginForm('admin') }}
							</div>
							<div class="col m4 l4"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}